// colours
$white: #ffffff;
$grey: rgb(213, 235, 243);
$darkgrey: rgb(48, 48, 53);
$black: #141414;
$orange: rgb(206, 82, 51);
$green: rgb(81, 226, 81);
$red: rgb(221, 67, 67);


$navbar: $darkgrey;

// fonts
$font-ss: 0.6rem;
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;

// gradient borders etc
.gradient-background {
    background-color: $grey;
    background-image: linear-gradient(to right,  $grey 30%, $orange 70%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-background-r {
    background-color: $grey;
    background-image: linear-gradient(to left,  $darkgrey, $orange 80%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-background-l {
    background-color: $grey;
    background-image: linear-gradient(to right,  $darkgrey 0%, $grey 50%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-border {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom,  $darkgrey, $orange, $darkgrey) 1 100%;
    
}

.gradient-border-contact-form {
    background-color: $grey;
    background-image: linear-gradient(to right,  $darkgrey, $orange);
    border-radius: 3px;
    border: solid $orange;
}