.gradient-background {
  background-color: #d5ebf3;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #d5ebf3), color-stop(70%, #ce5233));
  background-image: linear-gradient(to right, #d5ebf3 30%, #ce5233 70%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-background-r {
  background-color: #d5ebf3;
  background-image: -webkit-gradient(linear, right top, left top, from(#303035), color-stop(80%, #ce5233));
  background-image: linear-gradient(to left, #303035, #ce5233 80%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-background-l {
  background-color: #d5ebf3;
  background-image: -webkit-gradient(linear, left top, right top, from(#303035), color-stop(50%, #d5ebf3));
  background-image: linear-gradient(to right, #303035 0%, #d5ebf3 50%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-border {
  border-width: 5px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #303035, #ce5233, #303035) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#303035), color-stop(#ce5233), to(#303035)) 1 100%;
     border-image: linear-gradient(to bottom, #303035, #ce5233, #303035) 1 100%;
  border-radius: 5px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #303035;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  background-color: #303035;
}

.navbar__container .app-style {
  color: #ce5233;
}

.navbar__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile--container {
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

.navbar__logo--popup {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    visibility: hidden;
  }
  .navbar__mobile--container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: #303035;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .navbar__mobile--container.active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .navbar__mobile--container .navbar__mobile--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .navbar__escape--mobile {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #303035;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .navbar__escape--mobile.active {
    visibility: visible;
    opacity: 0.8;
  }
  .navbar__logo--popup {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    background-color: #303035;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .navbar__logo--popup.active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .navbar__logo--popup .navbar__logo--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .navbar__hbg .hbg-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: -webkit-gradient(linear, right top, left top, from(#303035), color-stop(80%, #ce5233));
    background: linear-gradient(to left, #303035, #ce5233 80%);
  }
  .navbar__hbg.active .hbg-line:nth-child(1) {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar__hbg.active .hbg-line:nth-child(2) {
    opacity: 0;
  }
  .navbar__hbg.active .hbg-line:nth-child(3) {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .navbar__menu .navbar__item {
    padding: 14px 1rem;
  }
  .navbar__menu .navbar__item:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #ffffff;
  }
  .navbar__menu .highlight {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #d5ebf3), to(#303035));
    background-image: linear-gradient(to top, #d5ebf3 30%, #303035);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    border-bottom: 4px solid #d5ebf3;
  }
  .navbar__mobile--container {
    visibility: hidden;
  }
  .navbar__hbg {
    visibility: hidden;
  }
}

.main__container {
  text-align: center;
}

.main__container .hero {
  height: 90vh;
}

.main__container .hero__heading {
  padding-top: 60px;
}

.main__container .about {
  height: 90vh;
}

.main__container .about__heading {
  padding-top: 60px;
}

.main__container .contact {
  height: 90vh;
}

.main__container .contact__heading {
  padding-top: 60px;
}

.footer {
  width: 100%;
}

.footer__items {
  padding-top: 60px;
  padding-bottom: 0.25rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

.app__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__container .summary--title {
  font-weight: 700;
  padding: 0 0.5rem;
  border-bottom: 1px solid #ce5233;
}

.app__container .summary--titleM {
  font-weight: 700;
  padding: 0 1rem;
}

.app__container .summary--titleM.active {
  background-image: -webkit-gradient(linear, left top, right top, from(#303035), color-stop(#ce5233), to(#303035));
  background-image: linear-gradient(to right, #303035, #ce5233, #303035);
  background-size: 100%;
}

.app__container .summary--titleMY {
  font-size: 1.5rem;
  margin: 0 5rem;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #303035, #ce5233, #303035) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#303035), color-stop(#ce5233), to(#303035)) 1 100%;
     border-image: linear-gradient(to bottom, #303035, #ce5233, #303035) 1 100%;
  border-radius: 5px;
}

.app__container .summary--titleM.active {
  color: #d5ebf3;
}

.app__container .summary--minititle {
  border-top: 1px solid #ce5233;
}

.app__container .detailed--cardN {
  font-size: 0.6rem;
}

.app__container .month__card {
  cursor: pointer;
}

.app__container .month__card--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 5px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #303035, #d5ebf3, #303035) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#303035), color-stop(#d5ebf3), to(#303035)) 1 100%;
     border-image: linear-gradient(to bottom, #303035, #d5ebf3, #303035) 1 100%;
  border-radius: 5px;
  cursor: pointer;
}

.app__container .month__header {
  color: #d5ebf3;
}

.app__container .month__headerM {
  color: #ce5233;
}

.app__container .app__summary {
  padding-top: 60px;
}

.app__container .app__monthly {
  padding-top: 60px;
}

.app__container .app__monthly--form {
  visibility: hidden;
  opacity: 0;
}

.app__container .app__monthly--form.active {
  visibility: visible;
  opacity: 1;
}

.app__container .app__monthly--stats {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app__container .app__monthly--stats--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
}

.app__container .app__monthly--stats.active {
  visibility: visible;
  opacity: 1;
}

.app__monthly--escape--popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #141414;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.app__monthly--escape--popup.active {
  visibility: visible;
  opacity: 0.9;
}

.app__monthly--popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  background-color: #303035;
  top: 120px;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app__monthly--popup.active {
  visibility: visible;
  opacity: 1;
}

.app__monthly--popup .app__monthly--exit {
  padding: 0.5rem;
  margin-right: 0;
  margin-left: auto;
}

.app__monthly--popup .app__monthly--exit--line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: -webkit-gradient(linear, right top, left top, from(#303035), color-stop(80%, #ce5233));
  background: linear-gradient(to left, #303035, #ce5233 80%);
}

.app__monthly--popup .app__monthly--exit--line:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.app__monthly--popup .app__monthly--exit--line:nth-child(2) {
  opacity: 0;
}

.app__monthly--popup .app__monthly--exit--line:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 450px) {
  .app__summary--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__summary--items .summary__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2rem;
  }
  .app__summary--items .summary__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
  .app__summary--items .summary__detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
  .app__summary--items .summary__detailed--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__summary--items .summary__detailed--cardW {
    display: none;
  }
  .app__summary--items .summary__detailed--cardB {
    display: none;
  }
  .app__summary--items .summary__detailed--cardO {
    display: none;
  }
  .app__monthly--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app__monthly--items .month__card, .app__monthly--items .month__card--add {
    padding: 1rem;
    margin: 0.5rem 2rem;
    height: auto;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .app__summary--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__summary--items .summary__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .app__summary--items .summary__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .app__summary--items .summary__detailed {
    display: -ms-grid;
    display: grid;
    grid-column: span 2;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  .app__summary--items .summary__detailed--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__summary--items .summary__detailed--cardB {
    display: none;
  }
  .app__summary--items .summary__detailed--cardO {
    display: none;
  }
  .app__summary--items .summary__detailed--card:nth-child(1) {
    padding-right: 1rem;
  }
  .app__summary--items .summary__detailed--card:nth-child(2) {
    padding-left: 1rem;
  }
  .app__monthly--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .app__monthly--items .month__card, .app__monthly--items .month__card--add {
    padding: 1rem;
    margin: 0.5rem 2rem;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .app__summary--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto 1fr;
        grid-template-columns: auto auto 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
  }
  .app__summary--items .summary__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__detailed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__detailed--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 1rem;
  }
  .app__monthly--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .app__monthly--items .month__card, .app__monthly--items .month__card--add {
    padding: 1rem;
    margin: 0.5rem 2rem;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .app__summary--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto 1fr;
        grid-template-columns: auto auto 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
  }
  .app__summary--items .summary__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__detailed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 1rem;
  }
  .app__summary--items .summary__detailed--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
  }
  .app__monthly--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .app__monthly--items .month__card, .app__monthly--items .month__card--add {
    padding: 1rem;
    margin: 0.5rem 2rem;
    height: auto;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #303035;
  color: #d5ebf3;
  margin: 0;
  padding: 0;
}

a {
  color: #d5ebf3;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */